[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/Exr0n/ohmyzsh.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
